/* Estilos gerais do dashboard */
.dashboard {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh; /* Altura total da tela */
  }
  
  .sidebar h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 15px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #e9ecef;
    min-height: 100vh; /* Altura mínima da tela */
  }
  
  /* Estilo específico para a Tela de Pagamentos */
  .payment-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .payment-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .payment-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .payment-form input[type="text"],
  .payment-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .payment-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .payment-form button:hover {
    background-color: #0056b3;
  }
  